body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-left: solid 5px lightgray;
  min-height: 100%;
  max-width: 1000px;
  margin: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
/* border: solid purple; */
padding-top: 1rem;
padding-bottom: 1rem;
padding-left: 2rem;
padding-right: 2rem;
text-align: left;
}

.header h1{
  font-size: 50px;
  color: tomato;
}

.nav{
/* border: solid purple; */
padding-top: 1rem;
padding-bottom: 1rem;
padding-left: 2rem;
padding-right: 2rem;
}

.nav ul{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.nav a{
  color: lightgray
}

.article{
/* border: solid purple; */
padding-top: 1rem;
padding-bottom: 2rem;
padding-left: 2rem;
padding-right: 2rem;
margin-bottom: 3rem;
border-bottom: solid 1px lightgray;
}

.article h1{
  font-size: 44px;
  text-align: left;
}

.article h2{
  font-size: 30px;
  color: lightgray;
  text-align: left;
}

.article img{
  width: 100%;
}

.article a{
  display: flex;
  justify-content: right;
  font-weight: bold;
  color: tomato;
  text-decoration: none;
}

.article p{
  text-align: left;
}

.article p::first-letter{
  /* border: solid purple; */
  float: left;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
  font-size: 90px;
  color: lightgray;
}

.footer{
border: solid purple;
padding-top: 1rem;
padding-bottom: 1rem;
padding-left: 2rem;
padding-right: 2rem;
color: tomato;
}

.footerBox{
  display: flex;
  justify-content: space-between;
}

.copyright{
  margin-top: 1vh;
  color: lightgray;
}